<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526592260035-24toogs355rbr1lrio02vdcpnf5cdt2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526592260035-24toogs355rbr1lrio02vdcpnf5cdt2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDADkPKNdkunWswSCMrXj_ToX1CuImWDt0</string>
	<key>GCM_SENDER_ID</key>
	<string>526592260035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eWallet</string>
	<key>PROJECT_ID</key>
	<string>ewallet-auth-d0c68</string>
	<key>STORAGE_BUCKET</key>
	<string>ewallet-auth-d0c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526592260035:ios:be72c6c9ecb9ddfb656f76</string>
</dict>
</plist>